<div class="backdrop"></div>
<link rel="stylesheet" href="/css/navigation.css">
<style>

</style>
<header class="main-header">
    <nav class="navbar">
        <!-- Mục bên trái -->
        <div class="nav-links">
            <a href="/">Shop</a>
            <a href="/cart">Cart (<span id="cart-count">0</span>)</a>
            <a href="/product">Products</a>
            <% if (user && user.role==='admin' ) { %>
                <a href="/admin/add-product">Add Product</a>
                <a href="/admin/edit-product">Admin Products</a>
                <% } %>
        </div>

        <!-- Mục bên phải -->
        <div class="user-section">
            <% if (user) { %>
                <p>Welcome, <%= user.username %>!</p>
                <a class="nav-links" href="/logout" class="logout-button" onclick="logout()">Logout</a>
                <% } else { %>
                    <a href="/v1/login">Login</a> <!-- Nếu không có người dùng, hiển thị link đăng nhập -->
                    <% } %>
        </div>
    </nav>
</header>
<script>
    function logout() {
        localStorage.removeItem('access_token');
        fetch('/logout', {
            method: 'GET',
            credentials: 'same-origin'
        }).then(response => {
            window.location.href = '/';
        }).catch(error => {
            console.error('Logout failed:', error);
            window.location.href = '/';
        });
    }

    async function updateCartCount() {
        try {
            const response = await fetch("/cart/items");
            const data = await response.json();
            const cartCount = data.cart.reduce((sum, item) => sum + item.quantity, 0);
            document.getElementById("cart-count").innerText = cartCount;
        } catch (error) {
            console.error("Error fetching cart count:", error);
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        const currentPath = window.location.pathname;
        const navLinks = document.querySelectorAll(".navbar a");

        navLinks.forEach(link => {
            if (link.getAttribute("href") === currentPath) {
                link.classList.add("active");
            }
        });

        updateCartCount();
    });
</script>