<div class="backdrop"></div>
<link rel="stylesheet" href="/css/navigation.css">
<style>

</style>
<header class="main-header">
    <nav class="navbar">
        <!-- Mục bên trái -->
        <div class="nav-links">
            <a href="/">Shop</a>
            <a href="/cart">Cart</a>
            <a href="/orders">Orders</a>
            <% if (user && user.role==='admin' ) { %>
                <a href="/admin/add-product">Add Product</a>
                <a href="/admin-products">Admin Products</a>
                <% } %>
        </div>

        <!-- Mục bên phải -->
        <div class="user-section">
            <% if (user) { %>
                <p>Welcome, <%= user.username %>!</p>
                <a class="nav-links" href="/logout" class="logout-button" onclick="logout()">Logout</a>
                <% } else { %>
                    <a href="/v1/login">Login</a> <!-- Nếu không có người dùng, hiển thị link đăng nhập -->
                    <% } %>
        </div>
    </nav>
</header>

<script>
    function logout() {
        // Xóa token trong localStorage
        localStorage.removeItem('access_token');

        // Gửi yêu cầu logout đến backend để xóa session và cookie
        fetch('/logout', {
            method: 'GET',
            credentials: 'same-origin' // Đảm bảo cookie được gửi cùng với yêu cầu
        }).then(response => {
            window.location.href = '/'; // Sau khi xóa session và cookie, chuyển hướng về trang chủ
        }).catch(error => {
            console.error('Logout failed:', error);
            window.location.href = '/'; // Nếu lỗi, chuyển hướng về trang chủ
        });
    }
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const currentPath = window.location.pathname;
        const navLinks = document.querySelectorAll(".navbar a");

        navLinks.forEach(link => {
            if (link.getAttribute("href") === currentPath) {
                link.classList.add("active"); // Thêm class active nếu đường dẫn khớp với URL hiện tại
            }
        });
    });
</script>