<div class="backdrop"></div>
<style>
    .navbar {
        background-color: #055D4C;
        padding: 15px 30px;
        display: flex;
        align-items: center;
    }

    .navbar a {
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        font-size: 16px;
    }

    .navbar a:hover {
        background-color: #04463A;
        border-radius: 5px;
    }
</style>
<header class="main-header">
    <nav class="navbar">
        <a href="/">Shop</a>
        <a href="/cart">Cart</a>
        <a href="/orders">Orders</a>


        <% if (user && user.role==='admin' ) { %>
            <a href="/admin/add-product">Add Product</a>
            <a href="/admin-products">Admin Products</a>
            <% } %>
                <% if (user) { %>
                    <p>Welcome, <%= user.username %>!</p> <!-- Hiển thị tên người dùng -->
                    <a href="/logout" class="logout-button" onclick="logout()">Logout</a>
                    <% } else { %>

                        <a href="/v1/login">Login</a> <!-- Nếu không có người dùng, hiển thị link đăng nhập -->
                        <% } %>
    </nav>


</header>
<script>
    function logout() {
        // Xóa token trong localStorage
        localStorage.removeItem('access_token');

        // Gửi yêu cầu logout đến backend để xóa session và cookie
        fetch('/logout', {
            method: 'GET',
            credentials: 'same-origin' // Đảm bảo cookie được gửi cùng với yêu cầu
        }).then(response => {
            window.location.href = '/'; // Sau khi xóa session và cookie, chuyển hướng về trang chủ
        }).catch(error => {
            console.error('Logout failed:', error);
            window.location.href = '/'; // Nếu lỗi, chuyển hướng về trang chủ
        });
    }
</script>