# Ignore node_modules
node_modules

# Ignore package-lock.json
package-lock.json

# Ignore build / dist f olders (nếu có)
build
dist

# Ignore .env file (nếu có)
.env

# Ignore logs
npm-debug.log
yarn-error.log
